/**
    * @name Call Background
    * @version 1.0.0
    * @description Customize the voice chat background with ease.
    * @author LuckFire#4800
    *
    * @website https://github.com/Snippets-For-Discord
    * @source https://github.com/Snippets-For-Discord/Call-Background
**/

:root {
    --call-background: url("https://cdn.discordapp.com/attachments/738968109288914976/769986893944979496/image0.jpg"); /* Background */
    --call-background-blur: blur(3px); /* Blur Strength */
}
  
.wrapper-2qzCYF.minimum-28Z35l .root-217Brm,
.wrapper-2qzCYF.video--KPXCT .root-217Brm {
    background: var(--call-background) center/100% no-repeat;
}
.wrapper-2qzCYF.minimum-28Z35l .root-217Brm::before,
.wrapper-2qzCYF.video--KPXCT .root-217Brm::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    -webkit-backdrop-filter: var(--call-background-blur);
            backdrop-filter: var(--call-background-blur);
    height: 100%;
    width: 100%;
}